<div class="col-xs-12 margin-top-50 text-center">
  <div class="col-xs-12 profile-img-container">
    <img class="img-circle" style="width: 140px; height: 140px;" src="assets/images/owner.jpg" data-holder-rendered="true">
  </div>
  <div class="col-xs-12 name-container">
    <big ng-bind="$ctrl.user.name"></big>
  </div>

  <div class="col-xs-12 about-container text-left no-padding">
    <span ng-bind="$ctrl.user.about"></span>
  </div>

  <div class="col-xs-12 social-container no-padding">
    <div class="social-header">
      <big>Let's Connect</big>
    </div>
    <div class="col-xs-12 no-padding social-links">
      <a href="https://facebook.com/{{ $ctrl.user.links.facebook }}">
        <b class="fa fa-facebook"></b>
      </a>
      <a href="https://instagram.com/{{ $ctrl.user.links.instagram }}">
        <b class="fa fa-instagram"></b>
      </a>
      <a href="https://twitter.com/{{ $ctrl.user.links.twitter }}">
        <b class="fa fa-twitter"></b>
      </a>
      <a href="https://plus.google.com/{{ $ctrl.user.links.google }}">
        <b class="fa fa-google-plus"></b>
      </a>
    </div>
  </div>
</div>
